<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nuevo Vehículo</h1>
      </div>
    </div>
  <form name="newVehicleForm">
    <div class="show-info-container">
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>MVA:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleMVA" ng-model="vm.vehicle.MVA" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleMVA.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Marca:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleBrand" ng-model="vm.vehicle.brand" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleBrand.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Modelo:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleModel" ng-model="vm.vehicle.model" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleModel.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>PSC:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehiclePSC" ng-model="vm.vehicle.PSC" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehiclePSC.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Color:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input name="vehicleColor" ng-model="vm.vehicle.color" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleColor.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Tipo de gasolina:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <select name="vehicleGas" ng-model="vm.vehicle.gas" required>
            <option value="gasolina">Gasolina</option>
            <option value="diesel">Diesel</option>>
          </select>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleGas.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Tracción:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <select name="vehicleTractionType" ng-model="vm.vehicle.traction_type" required>
            <option value="4x2">4x2</option>
            <option value="4x4">4x4</option>
          </select>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleTractionType.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Número de placa:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" name="vehicleLicensePlate" ng-model="vm.vehicle.license_plate" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleLicensePlate.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2 col-sm-3 label-container">
          <label>Año:</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="number" name="vehicleYear" min="1900" max="2200" string-to-number ng-model="vm.vehicle.year" required/>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="(newVehicleForm.vehicleYear.$invalid) && !newVehicleForm.vehicleYear.$error.required">
          <span class="msg-error">Introducir Año En El Rango De 1900 a 2200</span>
        </div>
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3" ng-if="newVehicleForm.vehicleYear.$error.required">
          <span class="msg-error">Campo Requerido</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button ng-disabled="newVehicleForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.persistData(vm.vehicle)"> Guardar </button>
        <button class="btn btn-secondary btn-long" ui-sref="vehicles"> Volver </button>
      </div>
    </div>
  </form>
</div>
